.warea{
    display: flexbox;
    height: 70vh;
    width: 75%;
    background: #DFF5FF;
    padding: 10px;
    border-radius: 20px;

    
}
.worktittle{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    

}
.box{
    height: 30px;
    width: 245px;
    background: #7AA2E3;
    opacity: 59%;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);

    
}